/* This file is for your main application css. */
@import "bootstrap";
@import "custom";

.price_card {
  height: 200px;
  width: 200px;
  margin: 5px;
}

.crypto-btn {
  padding-bottom: 5px;
}

.num-input {
  width: 93%
}

.submit-crypto {
  width: 93%;
}

.set-alert {
  text-align: right;
  margin-top: 5vh;
}

.crypto-price {
  color: blue;
}