/* This file is for your main application css. */
@import "bootstrap";
@import "custom";

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.crypto-btn {
  padding-bottom: 5px;
}

.num-input {
  width: 93%
}

.submit-crypto {
  width: 93%;
}

.set-alert {
  text-align: right;
  margin-top: 5vh;
}

.set-history {
  margin-top: 5vh;
}

.crypto-price {
  color: blue;
}

.modal-dialog {
  max-width: 650px;
}

.row {
  margin:0px;
  padding: 0px;
}


// Example usage:
@include media-breakpoint-up(sm) {
  .tiny-graph {
    display: block;
  }
  .price-card {
    width: 91vw;
  }
  .medium-graph {
    display: none;
  }
}
@include media-breakpoint-up(xs) {
  .tiny-graph {
    display: block;
  }
  .price-card {
    width: 91vw;
  }
  .medium-graph {
    display: none;
  }
}
@include media-breakpoint-up(md) {
  .tiny-graph {
    display: none;
  }
  .price-card {
    width: 31.5vw;
  }
  .medium-graph {
    display: block;
  }
}
@include media-breakpoint-up(lg) {
  .tiny-graph {
    display: none;
  }
  .price-card {
    width: 32vw;
  }
  .medium-graph {
    display: block;
  }
}
@include media-breakpoint-up(xl) {
  .tiny-graph {
    display: none;
  }
  .price-card {
    width: 32vw;
  }
  .medium-graph {
    display: block;
  }
}